OWNER_ACCESS_CODE=change-this-code
GUEST_ACCESS_CODES=
TWELVE_DATA_API_KEY=
STORAGE_PROVIDER=local
FIREBASE_SERVICE_ACCOUNT_JSON=
FIRESTORE_PORTFOLIO_DOC_PATH=
FIRESTORE_NOTES_DOC_PATH=
FIRESTORE_PORTFOLIO_COLLECTION_PATH=
FIRESTORE_NOTES_COLLECTION_PATH=
